.footer {
    width: 1500px;
    margin-top: 30px;
    background: rgb(237,193,212);
    background: radial-gradient(circle, rgba(237,193,212,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
    display: flex;
    padding: 15px 10%;
    align-items: center;
    box-shadow: 0 0 10px #bbb;
}

.logo {
    
    margin-left: 20px;
    padding: 0 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.4s;
    color: rgb(240, 240, 240);
}

.logo>h3{
    font-weight: 300;
}
.logo>h4 {
    font-size: 20px;
    font-weight: 300;
}

.right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

.linkbar {
    display: flex;
}
.linkbar>li {
    margin: 7px 0;
}

.linkbar>li>a {
    margin: 0 0 0 70px;
    font-size: 14px;
    font-weight: 300;
}

.info {
    margin-left: 70px;
    font-size: 14px;
    font-weight: 300;
}